doctype html
head
  meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel="stylesheet", href="/css/final.css" type="text/css")
  script(src="/js/functions.js", type="application/javascript")
  script(src="//typingdna.com/scripts/typingdna.js?v2.8")
  script.
    session_id = '#{sid}';
  title Login
  include ./flash
  body(onload= "draw();")
  div.container(style={"padding":"0"})
    div.step(id="step_username", style={"display":"inline", "opacity": "1"})
        if loggedIn
            .conf-modal.center.success
                .title-icon
                    img(src='http://jimy.co/res/icon-success.jpg')
                .title-text
                    h1 Your Moo as been posted!
                p Thanks for using witter! 
                .modal-footer
                    .conf-but.green(onclick="restart();" role="button") Start again
        else
            .conf-modal.center.failure
                .title-icon
                    img(src='/assets/Webp.net-resizeimage.png')
                .title-text
                    h1 You've been logged out
                p Your typing pattern didn't match the enrolled pattern
                .modal-footer
                    .conf-but.red(onclick="restart();" role="button") Start again

  script.
      (function() {
          if(!isIframe()) {
              var note = document.getElementById('note');
              if(note) {
                  note.style.display = 'block';
              }
          }
      })();