<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../public/stylesheets/style.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="card center">
      <div><h1>Witter</h1></div>
      <form>
        <div class="vcenter" style="top: 40%">
          <div class="group">
            <input type="email" required />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Email</label>
          </div>
        </div>
        <a href="#">
          <div class="btn vcenter" style="top: 60%">
            <span>Log In</span>
          </div>
        </a>
      </form>
    </div>
  </body>
</html>
