<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../public/css/moo_style.css" />
  </head>
  <body>
    <div class="safearea vcenter">
      <div><h1>Witter</h1></div>
      <form>
        <div class="textarea vcenter">
          <textarea></textarea>
        </div>
        <a href="#" onclick="next()">
          <div class="btn vcenter">
            <span>Moo</span>
          </div>
        </a>
      </form>
      <div><h2>Your Moos</h2></div>
      <!-- When no moo present -->
      <div class="vcenter" style="margin-top: 70px;">
        <span style="color: gray; font-size: large;">No moos till now</span>
      </div>
      <!-- till here -->



      <!-- Moo starts here -->
      <div class="moo vcenter">
        <span>time</span>
        <p>Your moo here</p>
      </div>
      <!-- Moo ends here -->
    </div>
  </body>
</html>
