doctype html
html
  head
    title= title
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/moo_style.css" type="text/css")
    script(src="/js/functions.js", type="application/javascript")
    script(src="//typingdna.com/scripts/typingdna.js?v2.8")
    include ./flash
    script.
      session_id = '#{sid}';
  body
  div.container(style={"padding":"0"})
  style.
    .moo {
    width: 80%;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    border: solid 2px gray;
    }
.safearea.vcenter
  div
    h1 Witter
  form(method="POST" onsubmit="return verifyText(this)")
    .textarea.vcenter(oncopy="return false", onpaste="return false", placeholder="Type here...")
      textarea
    a(href='#' onclick='next()')
      button.btn.vcenter(role ="button" type="submit")
        span Moo
  div
    h2 Your Moos
    // When no moo present
    .vcenter(style='margin-top: 70px;')
        span(style='color: gray; font-size: large;') No moos till now
            // till here
            // Moo starts here
        .moo.vcenter
            span time
            p Your moo here
    // Moo ends here
  script.

    /** checks if Enter is pressed on text forms and calls the next function */
    initControls();

